# Environment variables & secrets (JANGAN diupload ke GitHub!)
.env
credentials.json
credentials_base64.txt
*.json


# Python cache
__pycache__/
*.py[cod]
*.pyo
*.pyd
.Python

# Virtual environment
venv/
env/
.venv/

# Logs
*.log

# Temp files
*.tmp
tmp/

# OS files
.DS_Store
Thumbs.db
